body{
    font-family: "Arial", Serif;
    background-color: rgb(27, 27, 27);
    color: rgb(180, 116, 43);
}



h1{
    font-size:xx-large;
    
    

}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid;
    border-color:  rgb(180, 116, 43);
    padding: 50px;
}


.label{
    color: white;
   
}

.input-veld{
    border-radius: 7px;
    padding: 5px;
    margin-bottom: 15px;
}

.regestratie{
    color: rgb(172, 147, 102);
    text-decoration: none;
    margin-left: 15px;
    
}


.submit{
    border-radius: 5px;
    background-color: rgb(71, 70, 67);
}

.submit:hover{
    background-color: rgb(235, 222, 199);
}

.check-label{
    margin-top: 10px;
    color: rgb(172, 147, 102);
}

.error{
    border: solid;
    border-radius: 5px;
    border-color: red;
    background-color: rgb(219, 155, 155);
    color: red;
    padding: 50px, 50px, 50px, 50px;
}