<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{{ url_for('index.static', filename='script/voorbeeld.js')}}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
    <label for="">Geef naam in:</label>
    <input type="text" name="" id="naam">

    <label for="">Geef leeftijd in:</label>
    <input type="text" name="" id="leeftijd">

    <button id="btn">Verzend</button>
</body>
</html>